#
# Apache access file.
#

# Disallow directory listing.
Options -Indexes

# Enable the rewriting engine.
Options +FollowSymlinks
RewriteEngine On

# Rewrite everyting to index.php, except tiles, thumbnails and the frontend.
RewriteCond %{REQUEST_URI} !(tiles|thumbnails|frontend)
RewriteRule .* index.php [NC,L]
