#
# Apache access file.
#

# Disallow directory listing.
Options -Indexes

# Enable the rewriting engine.
Options +FollowSymlinks
RewriteEngine On

# Cache tiles and thumbnails.
ExpiresActive On
ExpiresByType image/jpeg "modification plus 1 month"

<filesMatch "\.(jpg|jpeg)$">
    Header unset Last-Modified
    Header unset ETag
    FileETag None
</filesMatch>

# Rewrite everyting to index.php, except tiles, thumbnails and the frontend.
RewriteCond %{REQUEST_URI} !(tiles|thumbnails|frontend)
RewriteRule .* index.php [NC,L]
