/*
 * Icons stylesheet.
 */

/* Pagination icons. */

.previous-icon, .x-tbar-page-prev
{
    background-image: url(../../external/extjs/resources/themes/images/default/grid/page-prev.gif) !important;
}

.x-item-disabled .previous-icon
{
    background-image: url(../../external/extjs/resources/themes/images/default/grid/page-prev-disabled.gif) !important;
}

.next-icon, .x-tbar-page-next
{
    background-image: url(../../external/extjs/resources/themes/images/default/grid/page-next.gif) !important;
}

.x-item-disabled .next-icon
{
    background-image: url(../../external/extjs/resources/themes/images/default/grid/page-next-disabled.gif) !important;
}

.first-icon, .x-tbar-page-first
{
    background-image: url(../../external/extjs/resources/themes/images/default/grid/page-first.gif) !important;
}

.x-item-disabled .first-icon
{
    background-image: url(../../external/extjs/resources/themes/images/default/grid/page-first-disabled.gif) !important;
}

.last-icon, .x-tbar-page-last
{
    background-image: url(../../external/extjs/resources/themes/images/default/grid/page-last.gif) !important;
}

.x-item-disabled .last-icon
{
    background-image: url(../../external/extjs/resources/themes/images/default/grid/page-last-disabled.gif) !important;
}

/* User icons. */

.login-icon
{
    background-image: url(../icons/login.png)
}

.logout-icon
{
    background-image: url(../icons/logout.png)
}

.register-icon
{
    background-image: url(../icons/register.png)
}

.passwordforgotten-icon
{
    background-image: url(../icons/passwordforgotten.png)
}

.user-icon
{
    background-image: url(../icons/user.png)
}

.users-icon
{
    background-image: url(../icons/users.png);
}

/* Annotation action icons. */

.drag-icon
{
    background-image: url(../icons/drag.png);
}

.rectangle-icon
{
    background-image: url(../icons/rectangle.png);
}

.polygon-icon
{
    background-image: url(../icons/polygon.png);
}

.erase-icon
{
    background-image: url(../icons/erase.png);
}

.vertex-icon
{
    background-image: url(../icons/vertex.png);
}

.add-vertex-icon
{
    background-image: url(../icons/addvertex.png);
}

.erase-vertex-icon
{
    background-image: url(../icons/erasevertex.png);
}

/* Viewer icons. */

.rotate-left-icon
{
    background-image: url(../icons/rotateleft.png);
}

.rotate-right-icon
{
    background-image: url(../icons/rotateright.png);
}

/* Other icons. */

.refresh-icon
{
    background-image: url(../../external/extjs/resources/themes/images/default/grid/refresh.gif) !important;
}

.remove-icon
{
    background-image: url(../icons/cross.png)
}

.settings-icon
{
    background-image: url(../icons/wrench.png);
}

.upload-icon
{
    background-image: url(../icons/uploadbook.png);
}

.search-icon
{
    background-image: url(../icons/search.png);
}

.info-icon
{
    background-image: url(../icons/info.png);
}

.save-icon
{
    background-image: url(../icons/disk.png);
}

.transcription-edit-icon
{
    background-image: url(../icons/script_edit.png);
}

.edit-mode-icon
{
    background-image: url(../icons/pencil.png);
}

.accept-icon
{
    background-image: url(../icons/accept.png);
}

.cancel-icon
{
    background-image: url(../icons/cancel.png);
}

.view-mode-icon
{
    background-image: url(../icons/cursor.png);
}

.add-book-icon
{
    background-image: url(../icons/report_add.png);
}

.delete-book-icon
{
    background-image: url(../icons/report_delete.png);
}

.undo-icon
{
    background-image: url(../icons/arrow_undo.png);
}

.help-icon
{
    background-image: url(../icons/help.png);
}

.welcome-icon
{
    background-image: url(../icons/star.png);
}

.activation-icon
{
    background-image: url(../icons/lock_go.png);
}

.viewer-icon
{
    background-image: url(../icons/openbook.png);
}

.binding-edit-icon
{
    background-image: url(../icons/book_edit.png);
}

.export-icon
{
    background-image: url(../icons/page_save.png);
}

.annotations-icon
{
    background-image: url(../icons/page_green.png);
}

.notes-icon
{
    background-image: url(../icons/page_white_text.png);
}

.termsofuse-icon
{
    background-image: url(../icons/page_white_star.png);
}

.edit-profile-icon
{
    background-image: url(../icons/vcard_edit.png);
}

.profile-icon
{
    background-image: url(../icons/vcard.png);
}
