/*
 * Icons stylesheet.
 */

.previous-icon, .x-tbar-page-prev
{
    background-image: url(../../external/extjs/resources/themes/images/default/grid/page-prev.gif) !important;
}

.x-item-disabled .previous-icon
{
    background-image: url(../../external/extjs/resources/themes/images/default/grid/page-prev-disabled.gif) !important;
}

.next-icon, .x-tbar-page-next
{
    background-image: url(../../external/extjs/resources/themes/images/default/grid/page-next.gif) !important;
}

.x-item-disabled .next-icon
{
    background-image: url(../../external/extjs/resources/themes/images/default/grid/page-next-disabled.gif) !important;
}

.first-icon, .x-tbar-page-first
{
    background-image: url(../../external/extjs/resources/themes/images/default/grid/page-first.gif) !important;
}

.x-item-disabled .first-icon
{
    background-image: url(../../external/extjs/resources/themes/images/default/grid/page-first-disabled.gif) !important;
}

.last-icon, .x-tbar-page-last
{
    background-image: url(../../external/extjs/resources/themes/images/default/grid/page-last.gif) !important;
}

.x-item-disabled .last-icon
{
    background-image: url(../../external/extjs/resources/themes/images/default/grid/page-last-disabled.gif) !important;
}

.refresh-icon
{
    background-image: url(../../external/extjs/resources/themes/images/default/grid/refresh.gif) !important;
}

.remove-icon
{
    background-image: url(../icons/cross.png)
}

.login-icon
{
    background-image: url(../icons/login.png)
}

.logout-icon
{
    background-image: url(../icons/logout.png)
}

.register-icon
{
    background-image: url(../icons/register.png)
}

.passwordforgotten-icon
{
    background-image: url(../icons/passwordforgotten.png)
}

.user-icon
{
    background-image: url(../icons/user.png)
}

.settings-icon
{
    background-image: url(../icons/wrench.png);
}

.upload-icon
{
    background-image: url(../icons/uploadbook.png);
}

.users-icon
{
    background-image: url(../icons/users.png);
}

.search-icon
{
    background-image: url(../icons/search.png);
}

.info-icon
{
    background-image: url(../icons/info.png);
}
