/*
 * Viewer stylesheet.
 */

.thumbnail
{
    cursor: pointer;
    float: left;
    margin: 10px;
}

.thumbnail-inner
{
    position: relative;
}

.thumbnail-rect
{
    position: absolute;
    border: 2px solid red;
}
